body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.user-list {
  display: flex;
  justify-content: center;
  width: 20%;
}

.search-input {
  border-radius: 100px;
}

input:focus {
  box-shadow: none !important;
  border: 1px solid #ddd !important
}

.user-name {
  font-size: .8rem;
}

.user-list img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 3px;
}

.user-list img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

@media only screen and (min-width: 480px) and (max-width: 767px){
  .user-list {
    width: 50%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 479px){
  .user-list {
    width: 100%;
  }
}